<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary | GUDLFT</title>
</head>

<body>

    <h2>Welcome, {{ club["email"] }}</h2>
    
    <p><a href="{{ url_for('logout') }}">Logout</a></p>

    <p><a href="{{ url_for('clubs_list', club=club['name']) }}">See all clubs</a></p>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li id="booking-complete-message">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif%}
    {% endwith %}

    <p>Points available: {{ club["points"] }}</p>

    <h3>Competitions:</h3>
    
    <ul>
        {% for competition in competitions %}
        <li>
            <p>
                <strong>{{ competition["name"] }}</strong><br>
                Date: {{ competition["date"] }}<br>
                Places left: {{ competition["numberOfPlaces"] }}<br>
                {% if competition["name"] in club["competitions"] and club["competitions"][competition["name"]] > 0 %}
                Places booked: {{ club["competitions"][competition["name"]] }}<br>
                {% endif %}
                {% if club["points"] > 0 and competition["numberOfPlaces"] > 0 and competition in future_competitions %}
                <a href="{{ url_for('book', competition=competition['name'], club=club['name']) }}">Book Places</a>
                {%endif%}
            </p>
            <hr>
        </li>
        {% endfor %}
    </ul>

</body>

</html>